---
import Anchor from './Anchor.astro'
---

<header>
  <nav>
    <div class='flex flex-wrap gap-x-[20px] px-[20px] py-[15px] uppercase text-[15px]'>
      <Anchor href='/' class='text-black hover:text-[#40bff5]'>Home</Anchor>
      <div class='relative'>
        <Anchor href='/blog' class='text-black menu'>
          <div class='flex gap-x-[5px] items-center hover:text-[#40bff5]'>
            <span>feature</span>
            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'
              ><path fill='currentColor' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6l1.41-1.41z'></path></svg
            >
          </div>
        </Anchor>
        <ul
          class='absolute bottom-[-60%] translate-y-[100%] z-20 left-0 bg-black px-[10px] py-[8px] w-[200%] text-white font-semibold flex flex-col gap-y-[10px] menu-item'
        >
          <li class='hover:text-[#40bff5] cursor-pointer'>Menu item 1</li>
          <li class='hover:text-[#40bff5] cursor-pointer'>Menu item 2</li>
          <li class='hover:text-[#40bff5] cursor-pointer'>Menu item 3</li>
          <li class='hover:text-[#40bff5] cursor-pointer'>Menu item 4</li>
        </ul>
      </div>
      <Anchor href='/about' class='text-black hover:text-[#40bff5]'>
        <div class='flex gap-x-[5px] items-center'>
          <span>Documentation</span>
        </div>
      </Anchor>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
  .menu-item {
    opacity: 0;
    visibility: hidden;

    transition: all 0.5s ease;
  }
  .menu-item:hover {
    opacity: 1;
    visibility: inherit;
  }
  .menu:hover ~ .menu-item {
    opacity: 1;
    visibility: inherit;
  }
  .menu::before {
    content: '';
    width: 100%;
    height: 20px;
    background-color: transparent;
    position: absolute;
    bottom: -60%;
    left: 0;
  }
</style>
