---
import Detail from './Detail.astro'
import Header from './Header.astro'
import List from './List.astro'
import './style.css'

interface Props {
  json: IPost[] | IPost
}

const { json } = Astro.props

let description: string = ''
let title = Astro.url.hostname.toUpperCase()
const isList = Array.isArray(json)

if (Array.isArray(json)) {
  if (json[0]) {
    description = json[0].excerpt
  }
} else {
  if (json) {
    description = json.excerpt
    title = json.title
  }
}
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta charset='UTF-8' />
    <link
      href='https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
    <meta name='description' content={description} />
    <link rel='canonical' href={Astro.url.origin} />
    <meta property='og:locale' content='en_US' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:url' content={Astro.url.origin} />
    <meta property='og:site_name' content={title} />
    <meta property='og:image:width' content='500' />
    <meta property='og:image:height' content='500' />
    <meta property='og:image:type' content='image/png' />
    <meta name='twitter:card' content='summary_large_image' />

    <style>
      main {
        width: calc(100% - 20px);
        margin: 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class='my-[20px] sm:mx-[20px] mx-[10px] lg:flex gap-x-[20px]'>
      <div class='bg-white lg:basis-[65%] sm:p-[20px] p-[5px]'>
        {isList ? <List json={json} /> : <Detail json={json} />}
      </div>
      <div class='bg-white lg:basis-[35%] sm:p-[20px] p-[5px]'>
        <slot name='slot2' />
      </div>
    </main>
  </body>
</html>
