---
const { title, excerpt, slug, createdAt: modified, author, content, category } = Astro.props as IPost

const estReadingTime = (content: string) => {
  if (content) {
    return `${Math.floor(content.split(' ').length / 275)} min`
  }
  return ''
}
---

<div class={`flex sm:flex-row flex-col gap-y-[10px] gap-x-[10px] pb-[8px]  sm:mb-[8px]  mb-[20px]`}>
  <div class='flex flex-col gap-y-[10px]'>
    <a href=`${Astro.url.origin}/${slug}`>
      <h2 class='font-bold sm:text-[22px] text-[18px] hover:text-[#40bff5] duration-300'>
        <Fragment set:html={title} />
      </h2>
    </a>
    <div class='flex flex-wrap items-center gap-x-[8px]'>
      <div class='text-[#bdbdbd] flex gap-x-[5px] items-center text-[12px]'>
        <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'
          ><path
            fill='#bdbdbd'
            d='M12 12q-1.65 0-2.825-1.175T8 8q0-1.65 1.175-2.825T12 4q1.65 0 2.825 1.175T16 8q0 1.65-1.175 2.825T12 12Zm-8 8v-2.8q0-.85.438-1.563T5.6 14.55q1.55-.775 3.15-1.163T12 13q1.65 0 3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20H4Z'
          ></path></svg
        >
        <span class='font-semibold text-black'>{author ? author.name : 'admin'}</span>
      </div>
      <div class='text-[#bdbdbd] flex gap-x-[5px] items-center text-[12px]'>
        <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'
          ><path
            fill='#bdbdbd'
            d='M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2zm4.2 14.2L11 13V7h1.5v5.2l4.5 2.7l-.8 1.3z'
          ></path></svg
        >
        <span class='font-semibold text-black'>{new Date(modified).toLocaleDateString()}</span>
      </div>
      <div class='text-[#bdbdbd] flex gap-x-[5px] items-center text-[12px]'>
        <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'
          ><path
            fill='currentColor'
            d='M4 20q-.825 0-1.413-.588T2 18V6q0-.825.588-1.413T4 4h6l2 2h8q.825 0 1.413.588T22 8v10q0 .825-.588 1.413T20 20H4Z'
          ></path></svg
        >
        <span class='font-semibold text-black'>{category.name}</span>
      </div>
      <div class='text-[#bdbdbd] flex gap-x-[5px] items-center text-[12px]'>
        <span class='font-semibold text-black'>{estReadingTime(content)}</span>
      </div>
    </div>
    <p class='text-[14px] leading-[22px] text'><Fragment set:html={excerpt} /></p>
  </div>
</div>
