---
interface Props {
  json: IPost;
  ads?: IAds;
  notFound?: string;
}

const {
  json,
  ads,
  notFound = "Sorry, the page you were looking for in this blog does not exist.",
} = Astro.props;
---

<>
  {
    json ? (
      <div class="contentnbt">
        <div class="mainblogsec section">
          <div class="widget Blog" data-version="1">
            <div class="blog-posts hfeed">
              {
                <Fragment
                  set:html={json.content
                    .replaceAll("ADS_PID", ads?.pid!)
                    .replaceAll(
                      "horizontal1",
                      (ads?.unit && ads?.unit["horizontal1"]) || ""
                    )
                    .replaceAll(
                      "horizontal2",
                      (ads?.unit && ads?.unit["horizontal2"]) || ""
                    )
                    .replaceAll(
                      "horizontal3",
                      (ads?.unit && ads?.unit["horizontal3"]) || ""
                    )
                    .replaceAll(
                      "horizontal4",
                      (ads?.unit && ads?.unit["horizontal4"]) || ""
                    )}
                />
              }
              {ads && ads?.unit && ads?.unit["multiplex1"] && (
                <>
                  <script
                    async
                    src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads.pid}`}
                    crossorigin="anonymous"
                  />
                  <ins
                    class="adsbygoogle"
                    style="display:block"
                    data-ad-client={`ca-${ads?.pid}`}
                    data-ad-slot={ads?.unit["multiplex1"]}
                    data-ad-format="autorelaxed"
                    data-full-width-responsive="true"
                  />
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </>
              )}
            </div>
          </div>
        </div>
      </div>
    ) : (
      <Fragment set:html={notFound} />
    )
  }
</>
<script>
  document.querySelectorAll("h1").forEach((e) => {
    e.classList.add("post-title", "entry-title");
  });
  document.querySelectorAll("h2").forEach((e) => {
    e.classList.add("post-title", "h2");
  });
  document.querySelectorAll("h3").forEach((e) => {
    e.classList.add("post-title", "h3");
  });
</script>
