---
const { origin, hostname } = Astro.url
---

<header class='site-headernbt'>
  <div class='wrapnbt'>
    <div class='title-areanbt'>
      <div class='headersec section' id='headersec'>
        <div class='widget Header' data-version='1' id='Header1'>
          <div id='header-inner'>
            <div class='titlewrapper'>
              <h1 class='site-titlenbt'>
                <a href={origin}>{hostname}</a>
              </h1>
            </div>
            <h2 class='site-descriptionnbt'>The Blogger</h2>
          </div>
        </div>
      </div>
    </div>
    <div class='widget-areanbt'>
      <nav class='nav-headernbt' role='navigation'>
        <ul class='thefunk-nav-menunbt thefunk-head-navnbt'>
          <li><a href={origin}>Home</a></li>
          <!-- <li>
            <a href={`${origin}/privacy-policy`}>Privacy Policy</a>
          </li>
          <li><a href={`${origin}/terms-of-service`}>Terms of Service</a></li>
          <li><a href={`${origin}/contact-us`}>Contact Us</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
