---
import PostItem from './PostItem.astro'

interface Props {
  json: IPost[]
  ads?: IAds
}
const { json, ads } = Astro.props
---

<div class='contentnbt'>
  <div class='mainblogsec section' id='mainblogsec'>
    <div class='widget Blog' data-version='1'>
      {
        json.length > 0 ? (
          <>
            <div class='blog-posts hfeed'>
              {json.map((p) => (
                <PostItem unit={ads?.unit} pid={ads?.pid} {...p} />
              ))}
            </div>
            {/*
            <div class='blog-pager' id='blog-pager'>
              <a class='home-link' href={`${Astro.url.origin}?page=2`}>
                Next
              </a>
            </div> */}
          </>
        ) : (
          <p>No data found</p>
        )
      }
    </div>
  </div>
</div>
