---
const { title, excerpt, slug, createdAt, author, category, unit, pid } =
  Astro.props as IPost & IAds;
---

<div class="date-outer">
  <div class="date-posts">
    <div class="post-outer">
      <article class="post hentry" itemprop="blogPost" itemscope="itemscope">
        <header class="entry-header">
          <h1 class="post-title entry-title" itemprop="name">
            <a href={`${Astro.url.origin}/posts/${slug}`}>{title}</a>
          </h1>
          <p class="entry-metanbt">
            <span class="post-author vcard"
              ><i class="fa fa-user"></i>&nbsp;<span itemprop="name"
                >{author ? author.name : "admin"}</span
              >

              <i class="fa fa-calendar"></i><span
                class="published updated"
                itemprop="datePublished"
                >{new Date(createdAt).toLocaleDateString()}</span
              >
              <i class="fa fa-folder-open"></i>&nbsp;<span>{category}</span>
            </span>
          </p>
          <div class="post-header-line-1"></div>
          <div
            class="post-body entry-content"
            id="post-body-3013905071056479665"
            itemprop="articleBody"
          >
            <div>
              {excerpt}
            </div>
          </div>
          <div style="float:right;padding-right:10px;margin-top:10px;">
            <a class="readmorenbt" href={`${Astro.url.origin}/posts/${slug}`}
              >Read More</a
            >
          </div>
        </header>
      </article>
    </div>
    <!-- HORIZONTAL HOME -->
    {
      pid && unit && unit["horizontal1"] && (
        <div class="post-outer post-google-ads">
          <script
            async
            src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${pid}`}
            crossorigin="anonymous"
          />
          <ins
            class="adsbygoogle"
            style="display:block"
            data-ad-client={`ca-${pid}`}
            data-ad-slot={unit["horizontal1"]}
            data-ad-format="auto"
            data-full-width-responsive="true"
          />
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }
  </div>
</div>
