---
import { getCategories, getRecentPosts, getRecommendedPosts } from "../../core";

const [categories, recents, recommended] = await Promise.all([
  getCategories(Astro.url.hostname),
  getRecentPosts(Astro.url.hostname),
  getRecommendedPosts(Astro.url.hostname),
]);

interface Props {
  ads?: IAds;
  reference?: IReference;
}
const { ads, reference } = Astro.props;
---

<div class="sidebarnbt sidebar-primarynbt widget-areanbt">
  <div class="sidebarrightsc section" id="sidebarrightsc">
    <!-- SQUARE 1 -->
    {
      ads && ads?.unit && ads?.unit["square1"] && (
        <div class="widget google-adsense">
          <>
            <script
              async
              src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
              crossorigin="anonymous"
            />
            <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client={`ca-${ads?.pid}`}
              data-ad-slot={ads?.unit["square1"]}
              data-ad-format="auto"
              data-full-width-responsive="true"
            />
          </>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }

    <div class="widget Label">
      <h2>Categories</h2>
      <div class="widget-content list-label-widget-content">
        <ul>
          {
            categories.map((c) => (
              <li>
                <a dir="ltr" href={`${Astro.url.origin}/categories/${c.slug}`}>
                  {c.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!-- SQUARE 2 -->
    {
      ads && ads?.unit && ads?.unit["square2"] && (
        <div class="widget google-adsense">
          <>
            <script
              async
              src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
              crossorigin="anonymous"
            />
            <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client={`ca-${ads?.pid}`}
              data-ad-slot={ads?.unit["square2"]}
              data-ad-format="auto"
              data-full-width-responsive="true"
            />
          </>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }

    <div class="widget recents">
      <h2 class="title">Recent Posts</h2>
      <div class="widget-content">
        <ul>
          {
            recents.map((r) => (
              <li>
                <a href={`${Astro.url.origin}/posts/${r.slug}`}>{r.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!-- SQUARE 3 -->
    {
      ads && ads?.unit && ads?.unit["square3"] && (
        <div class="widget google-adsense">
          <>
            <script
              async
              src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
              crossorigin="anonymous"
            />
            <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client={`ca-${ads?.pid}`}
              data-ad-slot={ads?.unit["square3"]}
              data-ad-format="auto"
              data-full-width-responsive="true"
            />
          </>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }

    <div class="widget recommended">
      <h2>Popular Posts</h2>
      <div class="widget-content popular-posts">
        <ul>
          {
            recommended.map((r) => (
              <li>
                <div class="item-content">
                  <div class="item-title">
                    <a href={`${Astro.url.origin}/posts/${r.slug}`}>
                      {r.title}
                    </a>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!-- SQUARE 4 -->
    {
      ads && ads?.unit && ads?.unit["square4"] && (
        <div class="widget google-adsense">
          <>
            <script
              async
              src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
              crossorigin="anonymous"
            />
            <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client={`ca-${ads?.pid}`}
              data-ad-slot={ads?.unit["square4"]}
              data-ad-format="auto"
              data-full-width-responsive="true"
            />
          </>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }

    {
      reference && reference.url && (
        <div class="widget">
          <a class="google-reference" href={reference.url}>
            <h2 class="google-reference-name">References</h2>
          </a>
        </div>
      )
    }
  </div>
</div>
