body#layout ul {
  list-style-type: none;
  list-style: none;
}
body#layout ul li {
  list-style-type: none;
  list-style: none;
}
body#layout #headerbwrap {
  height: auto;
}

body#layout .nav-headernbt {
  display: none;
}
body#layout .nav-primarynbt {
  display: none;
}
body#layout .widget_search {
  display: none;
}
/* Variable definitions
====================
*/
/* Use this with templates/template-twocol.html */
.section,
.widget {
  margin: 0;
  padding: 0;
}
/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* Baseline Normalize
normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Box Sizing
--------------------------------------------- */
*,
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Float Clearing
--------------------------------------------- */
.clearfix:before,
.hentry:before,
.footer-widgetsnbt:before,
.nav-primarynbt:before,
.nav-secondarynbt:before,
.site-containernbt:before,
.site-footernbt:before,
.site-headernbt:before,
.site-innernbt:before,
.wrapnbt:before {
  content: " ";
  display: table;
}
.clearfix:after,
.hentry:after,
.footer-widgetsnbt:after,
.nav-primarynbt:after,
.nav-secondarynbt:after,
.site-containernbt:after,
.site-footernbt:after,
.site-headernbt:after,
.site-innernbt:after,
.wrapnbt:after {
  clear: both;
  content: " ";
  display: table;
}
/*
Defaults
---------------------------------------------------------------------------------------------------- */
/* Typographical Elements
--------------------------------------------- */
html {
  font-size: 62.5%;
  /* 10px browser default */
}
body {
  background-color: #f5f5f5;
  background-attachment: scroll;
  color: #666;
  font-family: Rokkitt, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.625;
}
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
::-moz-selection {
  background-color: #333;
  color: #fff;
}
::selection {
  background-color: #333;
  color: #fff;
}
a {
  color: #666;
  text-decoration: none;
}
a img {
  margin-bottom: -4px;
  margin-bottom: -0.4rem;
}
a:hover {
  color: #333;
}
p {
  margin: 0 0 24px;
  margin: 0 0 2.4rem;
  padding: 0;
}
strong {
  font-weight: 700;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
blockquote,
blockquote::before {
  color: #999;
}
blockquote {
  margin: 4rem 4rem 2.4rem;
}
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 3rem;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}
.entry-content code {
  background-color: #333;
  color: #ddd;
}
cite {
  font-style: normal;
}
/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: Rokkitt, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.6rem;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}
/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}
/* Forms
--------------------------------------------- */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd !important;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #eee inset;
  color: #999;
  font-size: 1.4rem;
  padding: 1.6rem;
  width: 100%;
}
input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none;
}
::-moz-placeholder {
  color: #999;
  opacity: 1;
}
::-webkit-input-placeholder {
  color: #999;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
  background-color: #d55;
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  padding: 1.6rem 2.4rem;
  text-transform: uppercase;
  width: auto;
}
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
  background-color: #000 !important;
}
.entry-content .button:hover {
  color: #fff;
}
.button {
  border-radius: 3px;
  display: inline-block;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}
/* Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 4rem;
  width: 100%;
}
tbody {
  border-bottom: 1px solid #ddd;
}
th,
td {
  text-align: left;
}
th {
  font-weight: bold;
  text-transform: uppercase;
}
td {
  border-top: 1px solid #ddd;
  padding: 0.6rem 0;
}
/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* Site Containers
--------------------------------------------- */
.site-innernbt,
.wrapnbt {
  margin: 0 auto;
  max-width: 1140px;
}
.site-innernbt {
  clear: both;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* Column Widths and Positions
--------------------------------------------- */
/* Wrapping div for .content and .sidebar-primary */
.content-sidebar-sidebar .content-sidebar-wrapnbt,
.sidebar-content-sidebar .content-sidebar-wrapnbt,
.sidebar-sidebar-content .content-sidebar-wrapnbt {
  width: 920px;
}
.content-sidebar-sidebar .content-sidebar-wrapnbt {
  float: left;
}
.sidebar-content-sidebar .content-sidebar-wrapnbt,
.sidebar-sidebar-content .content-sidebar-wrapnbt {
  float: right;
}
/* Content */
.contentnbt {
  float: left;
  width: 740px;
}
.content-sidebar .contentnbt,
.content-sidebar-sidebar .contentnbt,
.sidebar-content-sidebar .contentnbt {
  float: left;
}
.content-sidebar-sidebar .contentnbt,
.sidebar-content-sidebar .contentnbt,
.sidebar-sidebar-content .contentnbt {
  width: 520px;
}
.full-width-content .contentnbt {
  width: 100%;
}
/* Primary Sidebar */
.sidebar-primarynbt {
  float: right;
  width: 360px;
}
.sidebar-content .sidebar-primarynbt,
.sidebar-sidebar-content .sidebar-primarynbt {
  float: left;
}
/* Secondary Sidebar */
.sidebar-secondary {
  float: left;
  width: 180px;
}
.content-sidebar-sidebar .sidebar-secondary {
  float: right;
}
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%;
}
.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%;
}
.one-third,
.two-sixths {
  width: 31.623931623931625%;
}
.four-sixths,
.two-thirds {
  width: 65.81196581196582%;
}
.one-fourth {
  width: 23.076923076923077%;
}
.three-fourths {
  width: 74.35897435897436%;
}
.one-sixth {
  width: 14.52991452991453%;
}
.five-sixths {
  width: 82.90598290598291%;
}
.first {
  clear: both;
  margin-left: 0;
}
/*
Common Classes
---------------------------------------------------------------------------------------------------- */
.search-formnbt input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Titles
--------------------------------------------- */
.h2 {
  margin-top: 2rem;
  font-size: 2.6rem;
  line-height: 1;
  word-wrap: break-word;
}
.h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
  line-height: 1;
  word-wrap: break-word;
}
.entry-title {
  font-size: 3.6rem;
  line-height: 1;
  word-wrap: break-word;
}
.entry-title a,
.sidebarnbt .widget h2 a,
.sidebarnbt .widget h3 a {
  color: #333;
}
h2.entry-title:hover {
  color: #000 !important;
}
.sidebarnbt .widget h2,
.sidebarnbt .widget h3 {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  font-weight: bold;
}
.footer-widgetsnbt .widget h2,
.footer-widgetsnbt .widget h3 {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  font-weight: bold;
}
.sidebarnbt .widget h2 a,
.sidebarnbt .widget h3 a {
  border: none;
}
/*
Widgets
---------------------------------------------------------------------------------------------------- */
.widget img {
  height: auto;
}

.site-headernbt {
  background-color: #fff;
}
.site-headernbt .wrapnbt {
  padding: 2rem 0;
}
/* Title Area
--------------------------------------------- */
.title-areanbt {
  float: left;
  font-family: Rokkitt, sans-serif;
  font-weight: 700;
  padding: 1.6rem 0;
  width: 320px;
}

.site-titlenbt {
  font-size: 3.2rem;
  line-height: 1;
  margin: 0 0 8px;
  margin: 0 0 0.8rem;
  text-transform: uppercase;
}
.site-titlenbt a,
.site-titlenbt a:hover {
  color: #333;
}
.site-descriptionnbt {
  color: #999;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0;
}
/* Full width header, no widgets */
.header-full-width .title-areanbt,
.header-full-width .site-titlenbt {
  width: 100%;
}
.header-imagenbt .site-descriptionnbt,
.header-imagenbt .site-titlenbt a {
  display: block;
  text-indent: -9999px;
}

/* Widget Area
--------------------------------------------- */
.site-headernbt .widget-areanbt {
  float: right;
  text-align: right;
  width: 800px;
}

.site-headernbt .search-formnbt {
  float: right;
  margin-top: 2.4rem;
}
/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
.thefunk-nav-menunbt {
  clear: both;
  color: #999;
  font-family: Rokkitt, sans-serif;
  line-height: 1.5;
  width: 100%;
}
.thefunk-nav-menunbt li {
  display: inline-block;
  text-align: left;
}
.thefunk-nav-menunbt a {
  border: none;
  color: white !important;
  display: block;
  padding: 2.8rem 2.4rem;
  position: relative;
}
.thefunk-head-navnbt a {
  /* color: black !important; */
}
.thefunk-nav-menunbt a:hover,
.thefunk-nav-menunbt .current-menu-item > a,
.thefunk-nav-menunbt .sub-menu .current-menu-item > a:hover {
  color: #333 !important;
}
.thefunk-nav-menunbt .sub-menu .current-menu-item > a {
  color: #999 !important;
}
.thefunk-nav-menunbt > li > a {
  text-transform: uppercase;
}
.thefunk-nav-menunbt .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99;
}
.thefunk-nav-menunbt .sub-menu a {
  color: black !important;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  font-size: 1.4rem;
  padding: 1.6rem 2rem;
  position: relative;
  width: 200px;
}
.thefunk-nav-menunbt .sub-menu .sub-menu {
  margin: -54px 0 0 199px;
}
.thefunk-nav-menunbt li:hover {
  position: static;
}
.thefunk-nav-menunbt li:hover > .sub-menu {
  left: auto;
  opacity: 1;
}
.thefunk-nav-menunbt > .first > a {
  padding-left: 0;
}
.thefunk-nav-menunbt > .last > a {
  padding-right: 0;
}
.thefunk-nav-menunbt > .right {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 2.8rem 0;
  text-transform: uppercase;
}
.thefunk-nav-menunbt > .right > a {
  display: inline;
  padding: 0;
}
.thefunk-nav-menunbt > .rss > a {
  margin-left: 4.8rem;
}
.thefunk-nav-menunbt > .search {
  padding: 1.4rem 0 0;
}
/* Site Header Navigation
--------------------------------------------- */
.site-headernbt .sub-menu {
  border-top: 1px solid #eee;
}
.site-headernbt .sub-menu .sub-menu {
  margin-top: -55px;
}
/* Primary Navigation
--------------------------------------------- */
.nav-primarynbt {
  background-color: rgb(221, 85, 85);
}
.nav-primarynbt a:hover,
.nav-primarynbt .current-menu-item > a {
  color: #000;
}
.nav-primarynbt .sub-menu a:hover {
  color: #000;
}
/* Secondary Navigation
--------------------------------------------- */
.nav-secondarynbt {
  background-color: #fff;
}
/*
Content Area
---------------------------------------------------------------------------------------------------- */
/* Entries
--------------------------------------------- */
.hentry {
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 2rem;
  padding: 4rem 4rem 2.4rem;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-style: solid;
  border-width: 1px;
}
.entry-content a {
  border-bottom: 1px solid #ddd;
  color: #f15123;
}
.entry-content a:hover {
  color: #333;
}
.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
  margin-bottom: 2.6rem;
}
.entry-content ol,
.entry-content ul {
  margin-left: 4rem;
}
.entry-content ol li {
  list-style-type: decimal;
}
.entry-content ul li {
  list-style-type: disc;
}
.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}
.entry-content .search-formnbt {
  width: 50%;
}
.entry-metanbt {
  color: #999;
  font-family: Rokkitt, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}
.entry-metanbt i {
  margin-right: 3px;
}
.entry-header .entry-metanbt {
  margin-bottom: 2.4rem;
}
.entry-footernbt .entry-metanbt {
  border-top: 2px solid #f5f5f5;
  margin: 0 -4rem;
  padding: 3.2rem 4rem 0.8rem;
}
.entry-comments-linknbt::before {
  content: "\2014";
  margin: 0 0.6rem 0 0.2rem;
}
.entry-categoriesnbt,
.entry-tagsnbt {
  display: block;
}
/*
Sidebars
---------------------------------------------------------------------------------------------------- */
.sidebarnbt {
  color: #999;
}

.sidebarnbt p:last-child {
  margin-bottom: 0;
}
.sidebarnbt li {
  list-style-type: none;
  margin-bottom: 0.8rem;
  word-wrap: break-word;
}
.sidebarnbt ul > li:last-child {
  margin-bottom: 0;
}
.sidebarnbt .widget {
  background-color: #fff;
  margin-bottom: 4rem;
  padding: 2rem;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-style: solid;
  border-width: 1px;
}

.sidebarnbt .google-adsense {
  padding: 0px !important;
}
/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgetsnbt {
  background-color: #333;
  color: #999;
  clear: both;
  padding: 4rem 0 1.6rem;
}
.footer-widgetsnbt-1,
.footer-widgetsnbt-3 {
  width: 350px;
}
.footer-widgetsnbt-2 {
  width: 360px;
}
.footer-widgetsnbt-1 {
  margin-right: 4rem;
}
.footer-widgetsnbt-1,
.footer-widgetsnbt-2 {
  float: left;
}
.footer-widgetsnbt-3 {
  float: right;
}
.footer-widgetsnbt a {
  color: #999;
}
.footer-widgetsnbt a:hover {
  color: #ddd;
}
.footer-widgetsnbt .widget {
  margin-bottom: 2.4rem;
}
.footer-widgetsnbt .widget-title {
  color: #fff;
}
.footer-widgetsnbt li {
  list-style-type: none;
  margin-bottom: 0.8rem;
  word-wrap: break-word;
}
.footer-widgetsnbt .search-formnbt input:focus {
  border: 1px solid #ddd;
}
.footer-widgetsnbt h2 {
  color: #fff;
}
/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footernbt {
  background-color: #fff;
  color: #999;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 2.5rem 0;
  text-align: center;
}
.site-footernbt a {
  border-bottom: 1px solid #ddd;
}
.site-footernbt p {
  margin-bottom: 0;
}
/*
Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
  .header-imagenbt .site-headernbt .wrapnbt {
    background-size: 320px 164px;
  }
}
@media only screen and (max-width: 1139px) {
  .site-innernbt,
  .wrapnbt {
    max-width: 960px;
  }
  .content-sidebar-sidebar .content-sidebar-wrapnbt,
  .sidebar-content-sidebar .content-sidebar-wrapnbt,
  .sidebar-sidebar-content .content-sidebar-wrapnbt {
    width: 740px;
  }
  .contentnbt,
  .site-headernbt .widget-areanbt {
    width: 620px;
  }
  .sidebar-content-sidebar .contentnbt,
  .sidebar-sidebar-content .contentnbt,
  .content-sidebar-sidebar .contentnbt {
    width: 400px;
  }
  .footer-widgetsnbt-1,
  .footer-widgetsnbt-2,
  .footer-widgetsnbt-3,
  .sidebar-primarynbt,
  .title-areanbt {
    width: 300px;
  }
  .postwrap .item {
    width: 580px !important;
  }
}
@media only screen and (max-width: 1023px) {
  .contentnbt,
  .content-sidebar-sidebar .contentnbt,
  .content-sidebar-sidebar .content-sidebar-wrapnbt,
  .footer-widgetsnbt-1,
  .footer-widgetsnbt-2,
  .footer-widgetsnbt-3,
  .sidebar-content-sidebar .contentnbt,
  .sidebar-content-sidebar .content-sidebar-wrapnbt,
  .sidebar-primarynbt,
  .sidebar-secondary,
  .sidebar-sidebar-content .contentnbt,
  .sidebar-sidebar-content .content-sidebar-wrapnbt,
  .site-headernbt .widget-areanbt,
  .site-innernbt,
  .title-areanbt,
  .wrapnbt {
    width: 100%;
  }
  .site-headernbt .wrapnbt {
    padding: 2rem 0;
  }
  .header-imagenbt .site-headernbt .wrapnbt {
    background-position: center top;
  }
  .site-innernbt {
    padding: 15px;
  }
  .entry-header {
    font-size: 1rem;
  }

  .entry-metanbt {
    font-size: 1rem;
  }
  .entry-title {
    font-size: 1.5rem;
  }
  .entry-footernbt .entry-metanbt,
  .header-imagenbt .site-headernbt .widget-areanbt,
  .site-headernbt {
    padding: 0;
  }
  .thefunk-nav-menunbt li,
  .site-headernbt ul.thefunk-nav-menunbt,
  .site-headernbt .search-formnbt {
    float: none;
  }
  .thefunk-nav-menunbt,
  .site-descriptionnbt,
  .site-headernbt .title-areanbt,
  .site-headernbt .search-formnbt,
  .site-titlenbt {
    text-align: center;
  }
  .thefunk-nav-menunbt a,
  .thefunk-nav-menunbt > .first > a,
  .thefunk-nav-menunbt > .last > a {
    padding: 2rem 1.6rem;
  }
  .site-headernbt .search-formnbt {
    margin: 1.6rem auto;
  }
  .thefunk-nav-menunbt li.right {
    display: none;
  }
  .entry-footernbt .entry-metanbt {
    margin: 0;
    padding-top: 1.2rem;
  }
  .site-footernbt {
    padding: 2.4rem 0;
  }
  .footer-widgetsnbt {
    padding: 40px 5% 16px;
  }
  .footer-widgetsnbt-1 {
    margin: 0;
  }
  .postwrap .item {
    width: 95% !important;
  }
}
@media only screen and (max-width: 767px) {
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%;
  }
  .postwrap .item {
    width: 520px;
  }
}
@media only screen and (max-width: 460px) {
  .postwrap .item img {
    max-height: 142px;
  }
  .postwrap .item {
    width: 85% !important;
  }
}
.timeline_items_wrapper {
  position: relative;
  width: 100%;
}
.postwrap .timeline_items {
  padding: 0px;
}

.postwrap .item {
  width: 700px;
  background: #fff;
  color: #777;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  margin: 20px;
  float: left;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-style: solid;
  border-width: 1px;
}
a.image_rollover_bottom,
a.image_rollover_right,
a.image_rollover_top,
a.image_rollover_left {
  margin: 0px;
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #d55;
}
.postwrap .item img {
  margin-top: 0px;
  width: auto;
  height: auto;
  display: inline;
}
article img {
  width: auto;
  height: auto;
}
a.image_rollover_bottom img,
a.image_rollover_right img,
a.image_rollover_top img,
a.image_rollover_left img {
  display: block;
}
a img {
  border: 0px none;
}
.postwrap.postwrapBlog .item .post_date {
  font-family: Montserrat;
  background: none repeat scroll 0% 0% #d55;
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  margin: -34px 18px 0px 0px;
  float: right;
  position: relative;
  z-index: 2;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.postwrap .item h2 {
  font-family: Montserrat;
  padding: 20px 20px 10px;
  margin: 0px;
  font-size: 25px;
  line-height: 25px;
  color: #d55;
}
h2 {
  font-size: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #313131;
  margin: 10px 0px;
}
.postwrap .item span {
  display: block;
  margin: 0px 20px 10px;
}
.readmorenbt {
  font-family: Montserrat;
  padding: 10px;
  font-size: 12px;
  line-height: 12px;
  float: left;
  color: #fff !important;
  cursor: pointer;
  margin: 0px 20px 20px;
  border-radius: 3px;
  background: none repeat scroll 0% 0% #d55;
  transition: background-color 300ms ease 0s;
}
a.readmorenbt:hover {
  background: #000 !important;
  color: #fff !important;
}
.postwrap.postwrapBlog .item .post_date span {
  display: block;
  width: auto;
  height: auto;
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
}
.meta-category {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 600;
  left: 0px;
  line-height: 13px;
  position: absolute;
  text-transform: uppercase;
  top: 0px;
  margin: 0px !important;
}
.meta-category a {
  background: none repeat scroll 0% 0% #d55;
  color: #fff !important;
  display: inline-block;
  font-size: 13px;
  line-height: 21px;
  padding: 5px 10px;
  text-decoration: none;
}
/* RIBBON BANNERS */
.ribbonnbt {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  text-align: center;
}
/* reset certain elements (in case of conflicting CSS for classes, links, etc.) */
.ribbonnbt .textnbt,
.ribbonnbt .bannernbt,
.ribbonnbt a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.ribbonnbt a {
  color: #fff;
  text-decoration: none;
}
.no-css-transforms .ribbonnbt {
  font-size: 1em;
  position: relative;
  width: 100%;
}
.ribbonnbt .bannernbt {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: block;
  float: right;
  position: relative;
  right: -14px;
  top: 22px;
  width: 100px;
}
.ribbon-smallnbt .bannernbt {
  right: -8px;
  top: 15px;
  width: 65px;
}
.ribbon-largenbt .bannernbt {
  right: -20px;
  top: 32px;
  width: 150px;
}
.ribbonnbt .bannernbt::after,
.ribbonnbt .bannernbt::before {
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  width: 30px;
}
.ribbon-smallnbt .bannernbt::after,
.ribbon-smallnbt .bannernbt::before {
  height: 6px;
  width: 20px;
}
.ribbon-largenbt .bannernbt::after,
.ribbon-largenbt .bannernbt::before {
  height: 18px;
  width: 45px;
}
.ribbonnbt .bannernbt::before {
  -webkit-transform: skewY(-45deg) translate(50%, 15px);
  -moz-transform: skewY(-45deg) translate(50%, 15px);
  -ms-transform: skewY(-45deg) translate(50%, 15px);
  -o-transform: skewY(-45deg) translate(50%, 15px);
  -webkit-transform-origin: 100% center;
  -moz-transform-origin: 100% center;
  -ms-transform-origin: 100% center;
  -o-transform-origin: 100% center;
  left: -45px;
}
.ribbon-smallnbt .bannernbt::before {
  top: -5px;
  left: -30px;
}
.ribbon-largenbt .bannernbt::before {
  top: 9px;
  left: -68px;
}
.ribbonnbt .bannernbt::after {
  -webkit-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -moz-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -ms-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -o-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -webkit-transform-origin: 0 center;
  -moz-transform-origin: 0 center;
  -ms-transform-origin: 0 center;
  -o-transform-origin: 0 center;
  right: -17px;
}
.ribbon-smallnbt .bannernbt::after {
  top: 18px;
  right: -12px;
}
.ribbon-largenbt .bannernbt::after {
  top: 45px;
  right: -26px;
}
.no-css-transforms .ribbonnbt .bannernbt {
  position: static;
  width: 100%;
  float: none;
  font-size: 10px;
}
.ribbonnbt .textnbt {
  position: relative;
  z-index: 2;
  padding: 6px 0;
  font-size: 12px;
  font-weight: bold;
  min-height: 18px;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* small text */
.ribbon-smallnbt .textnbt {
  padding: 3px 0;
  font-size: 8px;
  min-height: 14px;
  line-height: 14px;
}
/* large text */
.ribbon-largenbt .textnbt {
  padding: 9px 0;
  font-size: 18px;
  min-height: 28px;
  line-height: 28px;
}
.ribbonnbt .textnbt::before,
.ribbonnbt .textnbt::after {
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
/* small text */
.ribbonnbt.ribbon-smallnbt .textnbt::before,
.ribbonnbt.ribbon-smallnbt .textnbt::after {
  height: 20px;
}
/* large text */
.ribbonnbt.ribbon-largenbt .textnbt::before,
.ribbonnbt.ribbon-largenbt .textnbt::after {
  height: 46px;
}
.ribbonnbt .textnbt::before {
  -webkit-transform: translateX(-15%) skewX(-45deg);
  -moz-transform: translateX(-15%) skewX(-45deg);
  -ms-transform: translateX(-15%) skewX(-45deg);
  -o-transform: translateX(-15%) skewX(-45deg);
}
.ribbonnbt .textnbt::after {
  -webkit-transform: translateX(15%) skewX(45deg);
  -moz-transform: translateX(15%) skewX(45deg);
  -ms-transform: translateX(15%) skewX(45deg);
  -o-transform: translateX(15%) skewX(45deg);
}
.no-css-transforms .ribbonnbt .textnbt {
  height: 25px;
  padding: 3px;
}
/*--- Ribbon ---*/
.ribbon-color .bannernbt::after,
.ribbon-color .bannernbt::before {
  background-color: black;
}
.ribbon-color .textnbt::before,
.ribbon-color .textnbt::after,
.no-css-transforms .ribbon-color .textnbt {
  background-color: #ee5f5b;
}
.search-querynbt {
  width: 60% !important;
}
.search-submitnbt {
  width: 38% !important;
  float: right;
}
h2.date-header {
  margin: 10px 0px;
  display: none;
}
.main .widget {
  margin: 0 0 5px;
  padding: 0 0 2px;
}
.main .Blog {
  border-bottom-width: 0;
}

/* Comments----------------------------------------------- */
#comments {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
  margin-top: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 20px 30px 20px;
  padding: 2rem 3rem 2rem;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-style: solid;
  border-width: 1px;
}
#comments h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
#comments ol {
  margin-left: 0;
}
.deleted-comment {
  font-style: italic;
  color: gray;
}
#blog-pager-newer-link {
  float: left;
}
#blog-pager-older-link {
  float: right;
}
#blog-pager {
  text-align: center;
  padding: 5px;
  margin: 10px 0;
}
.feed-links {
  clear: both;
}

#navbar-iframe {
  height: 0;
  visibility: hidden;
  display: none;
}
.author-profile {
  background: #f6f6f6;
  border: 1px solid #eee;
  margin: 10px 0 10px 0;
  padding: 8px;
  overflow: hidden;
}
.author-profile img {
  border: 1px solid #ddd;
  float: left;
  margin-right: 10px;
}
.post-iconspbt {
  margin: 5px 0 0 0;
  padding: 0px;
}
.post-locationpbt {
  margin: 5px 0;
  padding: 0px;
}
.related-postbwrap {
  margin: 10px auto 0;
}
.related-postbwrap h4 {
  font-weight: bold;
  margin: 10px 0;
}
.related-post-style-2,
.related-post-style-2 li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.related-post-style-2 li {
  border-top: 0px solid #eee;
  overflow: hidden;
  padding: 10px 0px;
}
.related-post-style-2 li:first-child {
  border-top: none;
}
.related-post-style-2 .related-post-item-thumbnail {
  width: 80px;
  height: 80px;
  max-width: none;
  max-height: none;
  background-color: transparent;
  border: none;
  float: left;
  margin: 2px 10px 0 0;
  padding: 0;
}
.related-post-style-2 .related-post-item-title {
  font-weight: normal;
  font-size: 100%;
}
.related-post-style-2 .related-post-item-summary {
  display: block;
}
.pbtsharethisbutt {
  overflow: hidden;
  padding: 10px 0 5px;
  margin: 0;
}
.pbtsharethisbutt ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pbtsharethisbutt ul li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.pbtsharethisbutt ul li a {
  padding: 0 10px;
  display: inline-block;
  border: none;
}

.separator a[style="margin-left: 1em; margin-right: 1em;"] {
  margin-left: auto !important;
  margin-right: auto !important;
}
.separator
  a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"] {
  clear: none !important;
  float: none !important;
  margin-bottom: 0em !important;
  margin-right: 0em !important;
}
.separator
  a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"]
  img {
  float: left !important;
  margin: 0px 10px 10px 0px;
}
.separator
  a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"] {
  clear: none !important;
  float: none !important;
  margin-bottom: 0em !important;
  margin-left: 0em !important;
}
.separator
  a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"]
  img {
  float: right !important;
  margin: 0px 0px 10px 10px;
}
.PopularPosts .widget-content ul li {
  padding: 6px 0px;
}
.reaction-buttons table {
  border: none;
  margin-bottom: 5px;
}
.reaction-buttons table,
.reaction-buttons td {
  border: none !important;
}
.pbtthumbimg {
  float: left;
  margin: 0px 10px 5px 0px;
  padding: 4px;
  border: 0px solid #eee;
  background: none;
  width: 200px;
  height: auto;
}
.recents a,
.recommended a {
  color: #d55;
}

/* GOOGLE ADSENSE */
.post-google-ads {
  margin-bottom: 2rem;
}

.google-reference {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.google-reference:hover {
  cursor: pointer;
  text-decoration: underline;
}

.google-reference .google-reference-name {
  text-align: center;
  margin-bottom: 0px !important;
  margin: unset;
}

.google-reference .google-reference-icon {
  margin-right: 20px;
}
