---
import Calender from "./icon/Calender.astro";
import Tag from "./icon/Tag.astro";
import "./style.css";

const {
  data,
  ads,
  notFound = "Sorry, the page you were looking for in this blog does not exist.",
} = Astro.props;

const Format = (date: number) => {
  const datetime = new Date(1000 * date);


  return datetime.toLocaleDateString("en-us", {
    month: "short",
    day: "numeric",
    hour: "numeric",
  });
};
---
{data && data?.map((item:IPost)=>(
<div class="detailPost listpost">
  <div class="headertitle" set:html={item?.title} />
  <div class="boxicon">
    <div class="icon"><Tag /> <p>{item?.category}</p></div>
    <div class="icon"><Calender /><p>{Format(item?.createdAt)}</p></div>
  </div>
  <div class="bottom">
    <div class="content">
      <p set:html={item?.excerpt} />
    </div>

    <div class="content">
      <p set:html={item?.content} /> 
      <!-- {
        (
          <Fragment
            set:html={data?.content
              .replaceAll("ADS_PID", ads?.pid!)
              .replaceAll(
                "horizontal1",
                (ads?.unit && ads?.unit["horizontal1"]) || ""
              )
              .replaceAll(
                "horizontal2",
                (ads?.unit && ads?.unit["horizontal2"]) || ""
              )
              .replaceAll(
                "horizontal3",
                (ads?.unit && ads?.unit["horizontal3"]) || ""
              )
              .replaceAll(
                "horizontal4",
                (ads?.unit && ads?.unit["horizontal4"]) || ""
              )}
          />
        )
      } -->
      {
        ads?.unit["multiplex1"] && (
          <>
            <script
              async
              src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads.pid}`}
              crossorigin="anonymous"
            />
            <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client={`ca-${ads?.pid}`}
              data-ad-slot={ads?.unit["multiplex1"]}
              data-ad-format="autorelaxed"
              data-full-width-responsive="true"
            />
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          </>
        )
      }
    </div>
  </div>
</div>
))}
