---
import { getAds, getReference } from "../../core";
import Detail from "./Detail.astro";
import Header from "./Header.astro";
import PostItem from "./PostItem.astro";
import Sidebar from "./Sidebar.astro";
import "./style.css";
interface Props {
  json?: IPost[] | IPost | any;
  notFound?: string;
  theme: ITheme[];
}

const { json, notFound, theme } = Astro.props;

const { pathname, href } = Astro.url;
let description: string = "";
let title = Astro.url.hostname.toUpperCase();
const isList = Array.isArray(json);
const ads = await getAds(Astro.url.hostname);
const reference = await getReference(Astro.url.hostname);

if (isList) {
  if (json[0]) {
    description = json[0].excerpt;
  }
} else {
  if (json) {
    description = json.excerpt;
    title = json.title;
  }
}
const Format = (date: number) => {
  const datetime = new Date(1000 * date);

  return datetime.toLocaleDateString("en-us", {
    month: "short",
    day: "numeric",
    hour: "numeric",
  });
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Rokkitt:400,700%7CMontserrat:400,700&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta name="description" content="description" />
    <link rel="canonical" href={Astro.url.origin} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="title" />
    <meta property="og:description" content="description" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:site_name" content="title" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />

    {
      ads && ads?.pid && (
        <script
          async=""
          src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
          crossorigin="anonymous"
          data-checked-head="true"
        />
      )
    }
  </head>

  <body>
    <div class="site-containernbt">
      <Header />
      <div class="site-innernbt">
        <div class="bodyside">
          {
            isList && json?.length > 2 ? (
              <PostItem data={json} ads={ads} />
            ) : (
              <Detail data={json} notFound={notFound} ads={ads} />
            )
          }
          <Sidebar reference={reference} ads={ads} />
        </div>
      </div>
      <footer class="text-center py-[10px] border-t">
        &copy; {new Date().getFullYear()} Created By <span
          class="text-[#040000] font-bold">META</span
        >
      </footer>
    </div>
  </body>
</html>
<style
  is:global
  define:vars={{
    bgColor: theme[0]?.backgroundColor,
    color: theme[0].color,
    font: theme[0].font,
    cardColor: theme[0].cardColor,
    buttonCard: theme[0].buttonCardColor,
    headerColor: theme[0].headerColor,
    active: theme[0].active,
  }}
>
  .listpost > .cards > .card > button {
    background-color: var(--buttonCard);
    color: var(--color);
  }
  .card {
    background-color: var(--cardColor);
  }
  nav a.active {
    color: var(--active) !important;
  }
  .thefunk-head-navnbt a {
    color: var(--color) !important;
  }
  .site-headernbt {
    background-color: var(--headerColor);
  }
  html {
    font-family: var(--font);
  }
  samp {
    font-family: var(--font);
  }
  body {
    font-family: var(--font);
  }
  .site-containernbt {
    background-color: var(--bgColor);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font);
  }
  .title-areanbt {
    font-family: var(--font);
  }
  .thefunk-nav-menunbt {
    font-family: var(--font);
  }
  .entry-metanbt {
    font-family: var(--font);
  }
</style>
