---
import Panigation from "./Panigation";
import "./style.css";

interface Props {
  data: IPost[];
  ads?: IAds;
}

const { data, ads } = Astro.props;
const Format = (date: number) => {
  const datetime = new Date(1000 * date);

  return datetime.toLocaleDateString("en-us", {
    month: "short",
    day: "numeric",
    hour: "numeric",
  });
};
---

<div class="listpost">
  {
    data &&
      data?.map((item: any) => (
        <div class={"cards"}>
          <span set:html={item?.title} />
          <div class="caption">
            <p>Posted in</p>
            <span set:html={`${item?.category}`} />
            <p>at</p>
            <span set:html={`${Format(item?.createdAt)}`} />
          </div>
          <div class={"card"}>
            <div class={"icon"}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 22 22"
              >
                <path
                  fill="currentColor"
                  d="M19 20H3v-1H2V3h1V2h2V0h2v2h8V0h2v2h2v1h1v16h-1v1M4 4v2h14V4H4m0 4v10h14V8H4m10 6h2v2h-2v-2m-4 0h2v2h-2v-2m-4 0h2v2H6v-2m0-4h2v2H6v-2m4 0h2v2h-2v-2m4 0h2v2h-2v-2Z"
                />
              </svg>
              <span>{Format(item?.createdAt)}</span>
            </div>
            <div class={"content"}>
              <span set:html={item?.excerpt} />
            </div>
            <button>
              <a href={`/${item?.slug}`}>Read More</a>
            </button>
          </div>
        </div>
      ))
  }
  <Panigation client:load />
  <div class="ads">
    {
      ads?.pid && ads?.unit && ads?.unit["horizontal1"] && (
        <div class="post-outer post-google-ads">
          <script
            async
            src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
            crossorigin="anonymous"
          />
          <ins
            class="adsbygoogle"
            style="display:block"
            data-ad-client={`ca-${ads?.pid}`}
            data-ad-slot={ads?.unit["horizontal1"]}
            data-ad-format="auto"
            data-full-width-responsive="true"
          />
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      )
    }
  </div>
</div>
